.forgotPassword {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.forgotPassword h1 {
  margin-bottom: 1rem;
}

.forgotInputField {
  padding: 0.9rem;
  outline: none;
  border: none;
  width: 100%;
}
