.topBar {
  width: 100%;
  background: #143d76;
  height: 80px;
}

.topBarContainer {
  height: 100%;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: bold;
  font-size: 30px;
  color: #ffffff;
  cursor: pointer;
}

.topLeft {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navIcon {
  margin-right: 1rem;
  cursor: pointer;
  color: #ffffff;
}

.topRight {
  display: flex;
  align-items: center;
}

.topBarIconContainer {
  position: relative;
  cursor: pointer;
  margin-right: 10px;
  color: rgb(228, 222, 222);
}

.topIconBadge {
  width: 15px;
  height: 15px;
  position: absolute;
  top: -6px;
  right: 0px;
  background-color: red;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}

.topAvatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

@media screen and (max-width: 300px) {
  .logo {
    font-size: 20px;
  }
}

@media screen and (max-width: 265px) {
  .logo {
    font-size: 20px;
  }

  .topBarIconContainer {
    display: none;
  }
}

@media screen and (max-width: 160px) {
  .topAvatar {
    display: none;
  }
}

@media screen and (max-width: 120px) {
  .logo {
    font-size: 10px;
  }
}
