.profileFormGroup {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.profileFormControl {
  display: flex;
  flex-direction: column;
}

.profileFormControl label {
  margin: 1rem 0;
}

.profileInput {
  border: 1px solid #ccc;
  padding: 0.4rem;
}

.formGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

@media screen and (max-width: 650px) {
  .formGrid {
    grid-template-columns: repeat(1, 1fr);
    gap: 0.5rem;
  }
}
