.transaction {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-right: 2rem;
  flex-wrap: wrap;
  gap: 1rem;
}

@media screen and (max-width: 233px) {
  .transaction {
    width: fit-content;
  }
}

@media screen and (max-width: 226px) {
  .transaction {
    margin-right: 0;
    text-transform: lowercase;
  }
}

.transactionItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 0px 10px;
  padding: 30px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0, 0, 0, 0.125);
}

.transactionMoneyContainer {
  border-radius: 50%;
  background-color: rgb(1, 1, 155);
  display: flex;
  justify-content: center;
  align-items: center;
}

.transactionMoney {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #cccccc;
}
